<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="table-responsive">
       <table id="mytable" class="table table-bordred table-striped">
         <thead>
             <th>Name</th>
             <th>Address</th>
             <th>Email</th>
             <th>Status</th>
         </thead>
         <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%=order.shipping_address.name%></td>
            <td><%=order.shipping_address.address_line1%></td>
            <td><%=order.user.email%></td>
            <td><%=order.order_status.name%></td>
            <td><%= link_to '<span class="btn btn-sm btn-info fa fa-pencil"></span>'.html_safe,
              edit_order_path(order) %>
            </td>
            <td><%= link_to '<span class="btn btn-sm btn-danger fa fa-trash"></span>'.html_safe,
              order_path(order), method: :delete %>
            </td>
          </tr>

          <%end%>
        </tbody>

      </table>
  </div>
 </div>
</div>
</div>
