<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="item-container">
		<div class="container-fluid">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="item col-xs-12 col-sm-12 col-md-4">
						<%= image_tag @item.image.url(:large), class: "img-responsive"%>
				</div>
				<div class="col-md-4">
					<div class="item-title"><strong><%= @item.title %></strong></div>
					<div class="item-desc"></div>
					<hr>
					<div class="item-price">$<%= @item.price.to_f/100 %></div>

	        <%if @item.inventory < 5 && @item.inventory > 0 %>
	          <div class="item-stock"><strong>There are only <%= @item.inventory %> left in stock.</strong></div>
	        <% elsif @item.inventory < 0 %>
	          <div class="item-out">Out of Stock</div>
	        <%else%>
	          <div class="item-stock">In Stock</div>
	        <% end %>
	        <hr>
	        <% if  @item.inventory > 0 %>
						<div class="btn-group cart">
						 <%= button_to 'Add to Cart', line_items_path(item_id: @item.id ), class: "btn btn-info"%>
						</div>
	        <%end%>

					<div class="btn-group wishlist">
						<%= button_to 'Add wishlist', store_path, method: :get, class: "btn btn-danger" %>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
      <div class="col-xs-12 col-sm-12 col-md-12 item-info">
            <button id="open-review-box">Write a customer review</button>
      </div><br />
      <div class="row" id="post-review-box">
        <div class="col-md-12">
          <form action="" name="review">
            <div class="field">
              <input placeholder="Title" id="title" name="title" ></input>
            </div>
            <div class="field">
              <textarea placeholder="Enter your review here..." class="form-control" cols="50" id="content" name="content"></textarea>
            </div>
            <div class="actions">
              <input id="itemId" value ="<%= @item.id %>" type="hidden">
              <% unless current_user.nil? %>
                <input id="userId" value ="<%= current_user.id %>"type="hidden">
              <%end%>
              <button id="close-review-box" class="btn btn-sm btn-danger">cancle</button>
              <button id="post-review" class="btn btn-sm btn-success">save</button>
            </div>
        </form>
        </div>
      </div>
			<div class="col-xs-12 col-sm-12 col-md-12 item-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">
						<li class="active"><a href="#description" data-toggle="tab">DESCRIPTION</a></li>
						<li><a href="#review" data-toggle="tab" data-id="<%= @item.id%>">REVIEWS</a></li>
					</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="description">
						<section class="container">
							<h3><%=@item.title%>:</h3><br />
							<%= @item.description%>
						</section>
					</div>
					<div class="tab-pane fade" id="review">
					</div>
			</div>
			<hr>
		</div>
	</div>
	</div>
</div>
