<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @line_item.unit_price %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @line_item.sub_total %>
</p>

<p>
  <strong>Item:</strong>
  <%= @line_item.item %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
